@import url("https://fonts.cdnfonts.com/css/cubano");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Lobster&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: hsl(var(--b3));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  font-weight: normal;
  text-transform: none;
  /* padding: 0.5rem 1.5rem; */
  /* font-family: "Cubano", sans-serif; */
  /* font-size: 24px; */
  /* border-radius: 0.5rem; */
}

.btn.btn-ghost {
  @apply shadow-none;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}
